* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-header .left > div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.post-header .left > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-image {
  background-color: black;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.post-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-icons {
  font-size: 24px;
  display: flex;
  gap: 10px;
}

.btn {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.btn-like.liked {
  animation: pulse 0.3s ease-in-out;
}

.btn-like.liked {
  color: red;
}

.liked {
  color: red;
}
